.footer {
    font-family: "DotGothic16";
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    margin-top: 5em;
    background-color: black;
    color: whitesmoke;
}